<a href="https://colab.research.google.com/github/NPSoto/PandasMastery/blob/main/multi_index7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install --upgrade pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/51/51/48f3fc47c4e2144da2806dfb6629c4dd1fa3d5a143f9652b141e979a8ca9/pandas-1.2.4-cp37-cp37m-manylinux1_x86_64.whl (9.9MB)
     |████████████████████████████████| 9.9MB 7.6MB/s
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
ERROR: google-colab 1.0.0 has requirement pandas~=1.1.0; python_version >= "3.0", but you'll have pandas 1.2.4 which is incompatible.
Installing collected packages: pandas
  Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
Successfully installed pandas-1.2.4

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd '/content/drive/My Drive/Pandas y Python/db'
!ls

/content/drive/My Drive/Pandas y Python/db
'Copia de API_AG.LND.AGRI.K2_DS2_en_csv_v2_716226.csv'
'Copia de API_AG.LND.FRST.K2_DS2_en_csv_v2_716262.csv'
'Copia de API_EG.USE.ELEC.KH.PC_DS2_en_csv_v2_715482.csv'
'Copia de API_EN.ATM.CO2E.KT_DS2_en_csv_v2_713263.csv'
'Copia de API_SP.POP.TOTL_DS2_en_csv_v2_713131.csv'
'Copia de covid_19_data.csv'
'Copia de flights.db'
'Copia de GlobalLandTemperaturesByCountry.csv'
'Copia de poblacion.csv'
'Copia de test.csv'
'Copia de test.hdf'
'Copia de test.json'
'Copia de test.parquet'
'Copia de test.pkl'
'Copia de test.xlsx'
 london_merged.csv
 Meteorite_Landings.csv

In [ ]:
import pandas as pd
import numpy as np
pd.__version__

'1.2.4'

In [ ]:
df_pob2 = pd.read_csv('poblacion.csv')
df_pob2

                       Country  year             pop
0                  Afghanistan  2015    34,413,603.0
1                      Albania  2015     2,880,703.0
2                      Algeria  2015    39,728,025.0
3               American Samoa  2015        55,812.0
4                      Andorra  2015        78,011.0
...                        ...   ...             ...
1035  Pre-demographic dividend  2018   919,485,393.0
1036              Small states  2018    40,575,321.0
1037                South Asia  2018 1,814,388,744.0
1038   South Asia (IDA & IBRD)  2018 1,814,388,744.0
1039        Sub-Saharan Africa  2018 1,078,306,520.0

[1040 rows x 3 columns]

In [ ]:
list(df_pob2)

['Country', 'year', 'pop']

In [ ]:
pd.options.display.float_format = '{:,.1f}'.format

In [ ]:
df_pob2['year']=pd.Categorical(df_pob2['year'].apply(str))

In [ ]:
df_pob2.dtypes

Country      object
year       category
pop         float64
dtype: object

In [ ]:
idx_filtro = df_pob2['Country'].isin(['Aruba','Colombia'])

In [ ]:
idx_filtro

0       False
1       False
2       False
3       False
4       False
        ...
1035    False
1036    False
1037    False
1038    False
1039    False
Name: Country, Length: 1040, dtype: bool

In [ ]:
df_sample = df_pob2[idx_filtro]
df_sample

      Country  year          pop
9       Aruba  2015    104,341.0
42   Colombia  2015 47,520,667.0
269     Aruba  2016    104,872.0
302  Colombia  2016 48,171,392.0
529     Aruba  2017    105,366.0
562  Colombia  2017 48,901,066.0
789     Aruba  2018    105,845.0
822  Colombia  2018 49,648,685.0

In [ ]:
df_sample = df_sample.set_index(['Country','year']).sort_index()

In [ ]:
df_sample

                       pop
Country  year
Aruba    2015    104,341.0
         2016    104,872.0
         2017    105,366.0
         2018    105,845.0
Colombia 2015 47,520,667.0
         2016 48,171,392.0
         2017 48,901,066.0
         2018 49,648,685.0

In [ ]:
df_sample.loc['Colombia',:]

              pop
year
2015 47,520,667.0
2016 48,171,392.0
2017 48,901,066.0
2018 49,648,685.0

In [ ]:
df_sample.loc['Colombia',:].loc['2016',:]

pop   48,171,392.0
Name: 2016, dtype: float64

In [ ]:
df_sample.xs(['Aruba'])

           pop
year
2015 104,341.0
2016 104,872.0
2017 105,366.0
2018 105,845.0

In [ ]:
df_sample.xs(['Aruba', '2018'])

pop   105,845.0
Name: (Aruba, 2018), dtype: float64

In [ ]:
df_sample.xs('2018', level='year')

                  pop
Country
Aruba       105,845.0
Colombia 49,648,685.0

In [ ]:
df_contries = df_pob2.set_index(['Country','year']).sort_index(ascending=[True, True])
df_contries

                          pop
Country     year
Afghanistan 2015 34,413,603.0
            2016 35,383,128.0
            2017 36,296,400.0
            2018 37,172,386.0
Albania     2015  2,880,703.0
...                       ...
Zambia      2018 17,351,822.0
Zimbabwe    2015 13,814,629.0
            2016 14,030,390.0
            2017 14,236,745.0
            2018 14,439,018.0

[1040 rows x 1 columns]

In [ ]:
ids = pd.IndexSlice
df_contries.loc[ids['Aruba' :'Austria', '2015':'2017'],:].sort_index()

                        pop
Country   year
Aruba     2015    104,341.0
          2016    104,872.0
          2017    105,366.0
Australia 2015 23,815,995.0
          2016 24,190,907.0
          2017 24,601,860.0
Austria   2015  8,642,699.0
          2016  8,736,668.0
          2017  8,797,566.0

In [ ]:
df_contries.index.get_level_values(1)

CategoricalIndex(['2015', '2016', '2017', '2018', '2015', '2016', '2017',
                  '2018', '2015', '2016',
                  ...
                  '2017', '2018', '2015', '2016', '2017', '2018', '2015',
                  '2016', '2017', '2018'],
                 categories=['2015', '2016', '2017', '2018'], ordered=False, name='year', dtype='category', length=1040)

In [ ]:
df_contries['pop']['Colombia']['2018']

49648685.0

In [ ]:
df_contries.sum(level='year')

                  pop
year
2015 65,679,147,019.0
2016 66,487,930,677.0
2017 67,294,176,701.0
2018 68,087,886,692.0

In [ ]:
df_sample

                       pop
Country  year
Aruba    2015    104,341.0
         2016    104,872.0
         2017    105,366.0
         2018    105,845.0
Colombia 2015 47,520,667.0
         2016 48,171,392.0
         2017 48,901,066.0
         2018 49,648,685.0

In [ ]:
df_sample.unstack('year')

                  pop
year             2015         2016         2017         2018
Country
Aruba       104,341.0    104,872.0    105,366.0    105,845.0
Colombia 47,520,667.0 48,171,392.0 48,901,066.0 49,648,685.0