<a href="https://colab.research.google.com/github/NPSoto/PandasMastery/blob/main/saveandload3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install --upgrade pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/51/51/48f3fc47c4e2144da2806dfb6629c4dd1fa3d5a143f9652b141e979a8ca9/pandas-1.2.4-cp37-cp37m-manylinux1_x86_64.whl (9.9MB)
     |████████████████████████████████| 9.9MB 27.2MB/s
Requirement already satisfied, skipping upgrade: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
ERROR: google-colab 1.0.0 has requirement pandas~=1.1.0; python_version >= "3.0", but you'll have pandas 1.2.4 which is incompatible.
Installing collected packages: pandas
  Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
Successfully installed pandas-1.2.4

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
%cd '/content/drive/My Drive/Pandas y Python'
!ls

/content/drive/My Drive/Pandas y Python
db  saveandload3.ipynb

In [7]:
'Hola{}'.format('blablabla')

'Holablablabla'

In [8]:
!mkdir /content/drive/My\ Drive/Pandas\ y\ Python/db2

In [9]:
!ls

db  db2  saveandload3.ipynb

In [10]:
!pwd

/content/drive/My Drive/Pandas y Python

In [11]:
dir_pandas = "/content/drive/My Drive/Pandas y Python/db/{}".format("test.csv")
dir_pandas

'/content/drive/My Drive/Pandas y Python/db/test.csv'

In [27]:
import pandas as pd
pd.__version__

'1.1.5'

In [13]:
import numpy as np

In [14]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}
dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch']}

In [15]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [65]:
dir_pandas = "/content/drive/My Drive/Pandas y Python/db2/{}".format("test.hdf")
dir_pandas

'/content/drive/My Drive/Pandas y Python/db2/test.hdf'

In [19]:
df.to_csv(dir_pandas, index = False)

In [48]:
df_read = pd.read_excel(dir_pandas.format('test.xlsx'))
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [21]:
df.to_csv(dir_pandas, sep = '|', index = False)

In [49]:
df.to_excel(dir_pandas.format('test.xlsx'), index = False, sheet_name = 'Hoja1')

In [50]:
df.to_json(dir_pandas.format('test.json'))

In [51]:
df_read = pd.read_json(dir_pandas.format('test.json'))
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [52]:
df.to_pickle(dir_pandas.format('test.pkl'))

In [54]:
pd.read_pickle(dir_pandas.format('test.pkl'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [63]:
df.to_parquet(dir_pandas.format('test.pkl'))

In [67]:
df.to_hdf(dir_pandas.format('test.hdf'), key='data', format='table')

In [64]:
pd.read_parquet(dir_pandas.format('test.pkl'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [68]:
pd.read_hdf(dir_pandas.format('test.hdf'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9